@import 'src/styles/shared/variables.scss';
@import 'src/styles/shared/mixins.scss';

html {
	height: 100vh; /* Fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);
	overflow: hidden;
	&.is-loading {
		overflow: hidden;
	}
	&.is-loaded {
		overflow: visible;
	}
}

html.is-touch,
html.is-touch body {
	overflow: scroll;
}

body {
	font-size: 10px;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh)*100);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $bodyFont;
	background-color: $codGray;
	color: $white;

	&.stop-transitions * {
		transition: none !important;
	}
}

html.is-touch.is-safari body {
	background-color: #131114;
}

// .App {
// 	overflow: hidden;
// }

video::-internal-media-controls-overlay-cast-button {
	display: none;
}

body.links-disabled a {
	pointer-events: none;
}

.ColorWitnessImage {
	display: none;
}